{{> nav/nav-block user=true register=false}}
<textarea id="your-user-id-chat" value="{{user.id}}" class="is-hidden"></textarea>

  <div class="content mt-6">
    <p class="has-text-centered has-text-info has-text-weight-semibold is-size-3">
      Messages
    </p>
  </div>

<section class="section p-6 m-6 has-background-primary-light">
  <div class="box">
    <ul id="example-list" class="list-group">
      {{#each obj.Messages as |messages|}}
      <li data-id="{{messages.id}}" class="list-group-item">
        <p class="has-text-is-black-bis">{{messages.message}}</p>
        <p class="has-text-grey is-italic is-size-7 mt-1"> - <span class="has-text-weight-semibold">{{messages.User.first_name}}</span>, {{format_date messages.createdAt}}</p>
        <br>
        <br>
      </li>
        {{/each}}
    </ul>
  </div>

  <div id="chatbox">
    <div class="field is-grouped is-horizontal mt-6">
      <div class="control is-expanded">
        <input class="input" type="text" id="message-content" placeholder="Type your message here">
      </div>
      <div class="control">
        <a class="button is-info" id="submit-message" type="submit">Send</a>
      </div>
    </div>
  </div>
</section>
