{{> nav/nav-block}}

<section class="section">
        <div class="field">
            <div class="control">
              <textarea class="textarea is-info" id="example-text" class="form-control" placeholder="Post something new..."></textarea>

            </div>
        </div>
        <div class="field">
            <div class="control">
                <button id="submit" class="button is-info is-light">Post</button>
            </div>
        </div>
</section>

<hr class="m-6 has-background-grey-lighter">

<h4 class="has-text-info has-text-centered is-size-1">Chat</h4>
        <section class="section">
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item textarea is-info is-light">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="button is-danger is-rounded delete"></button>
          </li>
          <br>
          {{/each}}
        </ul>
</section>

{{!-- <!-- Old code is below-->
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button  class="btn btn-primary float-right">Submit</button>
        </form>
        <h4 class=>Examples belong to this user:</h4>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

<script src="/assets/js/example.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>